.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    place-items: center;
    gap: 1rem;

    article {
        background: transparent;
        backdrop-filter: blur(16px) brightness(70%);
        padding: 5%;
        width: 85%;
        aspect-ratio: 2/2;
        display: flex;
        flex-direction: column ;
        border-radius: 1rem;

    }
    img {
        width: 50%;
        margin: 1rem auto;
    }
    div {
        display: flex;
        justify-content: space-evenly;
        gap: 2rem;
        margin-top: 2rem;
        h2 {
            font-size: 1rem;
        }   
    }
}