<<<<<<<<< Temporary merge branch 1
main {
    padding: 5%;
}

.loadingImg{
    height: 30vh;
    width: fit-content;
    display: block;
}
=========
// Border um die Cards

fieldset {
    margin: 0 5% 5% 5%;
    padding: 80px 5%;
    border: var(--pokemon-red) solid 6px;

    legend {
        padding: 0 50px;
        text-align: center;

        img {
            width: 500px;
        }
    }
}
>>>>>>>>> Temporary merge branch 2
