// Border um die Cards

fieldset {
    margin: -5% 5% 5% 5%;
    padding: 10px 5%;
    border: var(--pokemon-red) solid 6px;

    legend {
        padding: 0 50px;
        text-align: center;

        img {
            width: 500px;
            filter: drop-shadow(0 0 8px var(--pokemon-blue-dark));
        }
}
button svg {
    width: 80px;
    height: 80px;
    margin: 6px;
    filter: drop-shadow(2px 6px 4px 0px rgba(0, 0, 0, 0.191));
    padding: 16px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}
}
.leftArrow{

    &:hover {
        transform: scale(1.1) rotate(-90deg);
        filter: drop-shadow(4px 11px 4px 0px rgba(0, 0, 0, 0.191));
    }
}
.rightArrow{
    &:hover {
        transform: scale(1.1) rotate(90deg);
        filter: drop-shadow(4px 11px 4px 0px rgba(0, 0, 0, 0.191));
    }
}

main {
    padding: 5%;
}

.loadingImg {
    height: 30vh;
    width: fit-content;
    display: block;
    margin: 0 auto;
}
